:root {
  font-size: 16px;
  --color-body-bg: #1f1f1f;
  --color-body-text: #fff;
  --color-sidebar-bg: #232323;
  --color-main-container-bg: #232323;
  --color-loved: #285f52;
  --color-liked: #0e518e;
  --color-liked: #0e518e;
  --color-alright: #b4b66d;
  --color-annoying: #573264;
  --color-disgusting: #793030;
}

body {
  background-color: var(--color-body-bg);
  color: var(--color-body-text);
  font-family: "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
